body {
  background: #f1f1f1;
}

.animbox {
  -webkit-animation: animm 1s linear infinite, bounce 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  width: 100px;
  height: 100px;
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 50px;
  margin-top: 300px;
  margin-left:50px;
  float: left;
}

.animbox2 {
  -webkit-animation: animm 1s linear infinite, bounce 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  width: 100px;
  height: 100px;
  background: #00b7ea; /* Old browsers */
  background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 50px;
  margin-top: 300px;
  margin-left:50px;
  float: left;
}

.animwrapper {
  height: 400px;
}

.loadingindicator {
  float: left;
  clear: both;
  width: 50px;
  height: 10px;
  background: #e5559b;
  -webkit-animation: glide 3s ease-in-out infinite;
  -webkit-border-radius: 5px;
  margin-top: 5px;
}

.glidebahn {
  width: 960px;
  float: left;
  clear: both;
  margin-top: 50px;
  overflow: hidden;
  height: 20px;
}

.hamburger {
  width: 100px;
  height: 90px;
  float: left;
  clear: both;
  margin-top: 20px;
  margin-left: 100px;
}

.slice {
  width: 75px;
  height: 10px;
  border-radius: 5px;
  background: #222;
  margin-top: 20px;
}

.cheese, .meat, .salad {
}

.cheese.active {
  -webkit-animation: animCheese 2s ease-in-out infinite;
}

.meat.active {
  -webkit-animation: animMeat 2s ease-in-out infinite;
}

.salad.active {
  -webkit-animation: animSalad 2s ease-in-out infinite;
}

/* Keyframes */

@-webkit-keyframes animCheese {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {

  }
  100% {
    -webkit-transform: rotate(45deg);
    margin-top: 30px;
  }
}

@-webkit-keyframes animMeat {
  0% {
    opacity: 1;
    margin-left: 0px;
  }
  50% {

  }
  100% {
    opacity: 0;
    display: none;
    margin-left: 100px;
    margin-top: -10px;
  }
}

@-webkit-keyframes animSalad {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {

  }
  100% {
    -webkit-transform: rotate(-45deg);
    margin-top: -10px;
  }
}

@-webkit-keyframes glide {
  0% {
    margin-left: -100px;
  }
  50% {
    background: #da0085;
    -webkit-border-radius: 10px;
  }
  100% {
    margin-left: 960px;
  }
}

@-webkit-keyframes animm {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce {
  from {
    margin-top: 300px;
  }
  to {
    margin-top: 50px
  }
}
